{% extends 'base.html.twig' %}

{% block title %}La réponse n'est pas 42{% endblock %}

{% block body %}
    <h1>Posez votre question, trouvez votre réponse</h1>
    <ul>
        <li>
            <a href="../question">Liste des réponses</a>
        </li>
        <li>Listes des questions</li>
        <li>Recherche par mot clé</li>
    </ul>
{% endblock %}
